.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	color: white !important;
	border: px solid rgb(0 0 0);
	background-color: rgba(230, 230, 230, 0.1);			background: #7e4555;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: 1px solid transparent;
	border-radius: 27px;
	box-shadow: 1px 1px 10px gray;
	transition: 0.3s;
}
a:hover {
	color: #00ff29;
}
.badge {
	display: inline-block;
	padding: 0.35em 0.65em;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1;
	color: #ffffff;
	background: #008400;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.legend-inner{
	color: #008080!important;
}
.error{
	color: red;
}
.btns{
	text-align: center;
	vertical-align: middle;
	padding: 16px 11px 8px 10px!important;
	border-radius: 5px;
}
.bgsubmit{
	background-color: #008080!important;
	color: white;
}

.bgsubmit:hover{
	background-color: #008080!important!important;
	color: white!important;
	box-shadow: 1px 1px 10px green;
}
.bgcancel{
	background: #B02135;
	color: white;
}

.bgcancel:hover{
	background: #B02135!important;
	color: white!important;
	box-shadow: 1px 1px 10px orange;
}

.dataTables_length{
	display: none;
}

.dataTables_filter{
	display: none;
}

.dataTables_info{
	margin-top: 30px;
}

.dataTables_paginate {
	margin-top: 30px;
}
.form-check-input[type=checkbox] {
	border-radius: 0.25em;
	padding: 10px!important;
	font-size: 18px;
	border: 3px solid #005D4B;
}
.form-check-input:checked[type="checkbox"] {
	background-color: #005D4B;
	border-radius: 0.25em;
	padding: 10px!important;
	font-size: 18px;
	border: 3px solid #005D4B;
}
.form-check-input:checked[type="checkbox"] + .form-check-label::before {
	background-color: #005D4B;
	font-weight: bold;
	font-size: 18px;
}
.form-check-input:checked[type="checkbox"] + .form-check-label::after {
	background-color: #005D4B;
	border-radius: 0.25em;
	padding: 10px;
	color: yellow!important;
	background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="yellow" stroke="%23FFFF00" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5.5 8l4 4 4-4"/%3e%3c/svg%3e')!important;
}
.form-check-input:focus {
	border-color: #005D4B!important;
	outline: 0!important;
	box-shadow: none!important;
}
.dropdown-menu {
	background-color: var(--active-devotee-dashboard-menu)!important;
}
.dropdown-item {
	color: #ffffff;
	background-color: var(--active-devotee-dashboard-menu)!important;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
	color: #fff;
	background-color: #f0ac12!important;
	border-color: #ffffff;
	box-shadow: none;
}

.btn-secondary:hover {
	color: #fff;
	background-color: var(--active-devotee-dashboard-menu)!important;
	border-color: #ffffff;
	box-shadow: none;
}

.dropdown-item:hover, .dropdown-item:focus {
	color: #ffffff;
	background-color: #303065!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}
